# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend - Node.js/Next.js-specific
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
.next/
out/

# Production
build

# Temporary/Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*

# Miscellaneous
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# testdata
/test/*.pdf

# Backend - Python-specific
__pycache__/
*.pyc
*.pyo

# Editor/IDE
/.vscode/

backend/temp/
backend/log/
